In [1]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.12.tar.gz (79 kB)
     ---------------------------------------- 0.0/79.7 kB ? eta -:--:--
     --------------- ------------------------ 30.7/79.7 kB ? eta -:--:--
     ------------------- ------------------ 41.0/79.7 kB 393.8 kB/s eta 0:00:01
     -------------------------------------- 79.7/79.7 kB 495.8 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from kaggle) (2.31.0)
Collecting tqdm (from kaggle)
  Downloading tqdm-4.66.2-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ---------------------------------------- 57.6/57.6 kB 1.5 MB/s eta 0:00:00
Collecting python-slugify (from kaggle)
  Downloading python_slugify-8.0.4-py2.py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: urllib3 in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from kaggle) (1.26.18)
Requirement already satisfied: bleach in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from bleach->kaggle) (0.5.1)
Collecting text-unidecode>=1.3 (from python-slugify->kaggle)
  Downloading text_unidecode-1.3-py2.py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from requests->kaggle) (3.6)
Requirement already satisfied: colorama in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from tqdm->kaggle) (0.4.6)
Downloading python_slugify-8.0.4-py2.py3-none-any.whl (10 kB)
Downloading tqdm-4.66.2-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ------------------------------- -------- 61.4/78.3 kB 1.6 MB/s eta 0:00:01
   ---------------------------------------- 78.3/78.3 kB 872.5 kB/s eta 0:00:00
Downloading text_unidecode-1.3-py2.py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.2 kB ? eta -:--:--
   -------------------- ------------------- 41.0/78.2 kB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 78.2/78.2 kB 1.1 MB/s eta 0:00:00
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.12-py3-none-any.whl size=102982 sha256=86e1e0b422b14d3fe30af402b9afcdcf04521dfe9b24636f830a35ed3c7d3692
  Stored in directory: c:\users\deepa\appdata\local\pip\cache\wheels\a0\87\83\f9893bb1660a03ca5808b7429e77808120f091569651323dd1
Successfully built kaggle
Installing collected packages: text-unidecode, tqdm, python-slugify, kaggle
Successfully installed kaggle-1.6.12 python-slugify-8.0.4 text-unidecode-1.3 tqdm-4.66.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import kaggle

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to c:\DEEPAK\Projects\Data_analytics\data_analytics_project

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|██████████| 200k/200k [00:00<00:00, 296kB/s]
100%|██████████| 200k/200k [00:00<00:00, 294kB/s]

In [3]:
import zipfile
zip_ref = zipfile.ZipFile('orders.csv.zip') 
zip_ref.extractall() # extract file to dir
zip_ref.close() # close file

In [8]:
import pandas as pd
df = pd.read_csv('orders.csv')
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [9]:
df = pd.read_csv('orders.csv',na_values=['Not Available','unknown'])

In [10]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [12]:
#df.rename(columns={'Order Id':'order_id', 'City':'city'})
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [13]:
df['discount']=df['list_price']*df['discount_percent']*.01
df['sale_price']= df['list_price']-df['discount']
df['profit']=df['sale_price']-df['cost_price']

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [14]:
df.head(4)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8

In [15]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount            float64
sale_price          float64
profit              float64
dtype: object

In [16]:
#convert order date from object data type to datetime
df['order_date']=pd.to_datetime(df['order_date'],format="%Y-%m-%d")
df.head(4)
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount                   float64
sale_price                 float64
profit                     float64
dtype: object

In [19]:
df.drop(columns=['list_price','discount_percent','cost_price'],inplace=True)

In [20]:
df.dtypes

order_id                 int64
order_date      datetime64[ns]
ship_mode               object
segment                 object
country                 object
city                    object
state                   object
postal_code              int64
region                  object
category                object
sub_category            object
product_id              object
quantity                 int64
discount               float64
sale_price             float64
profit                 float64
dtype: object

In [23]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (2.0.29)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\deepa\anaconda3\envs\flink-env\lib\site-packages (from sqlalchemy) (3.0.3)

In [24]:
pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.1.0-cp38-cp38-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.1.0-cp38-cp38-win_amd64.whl (68 kB)
   ---------------------------------------- 0.0/68.8 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/68.8 kB ? eta -:--:--
   ----------- ---------------------------- 20.5/68.8 kB 217.9 kB/s eta 0:00:01
   ----------------------- ---------------- 41.0/68.8 kB 326.8 kB/s eta 0:00:01
   ---------------------------------------- 68.8/68.8 kB 418.0 kB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.1.0
Note: you may need to restart the kernel to use updated packages.

In [26]:
#Loading the Data to sql server
import sqlalchemy as sal
engine = sal.create_engine('mssql+pyodbc://localhost/DeepakAcharya?driver=ODBC+Driver+17+for+SQL+Server')
conn=engine.connect()

InterfaceError: (pyodbc.InterfaceError) ('28000', '[28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user \'DeepakAcharya\\deepa\'. (18456) (SQLDriverConnect); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open database "DeepakAcharya" requested by the login. The login failed. (4060); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Login failed for user \'DeepakAcharya\\deepa\'. (18456); [28000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Cannot open database "DeepakAcharya" requested by the login. The login failed. (4060)')
(Background on this error at: https://sqlalche.me/e/20/rvf5)

In [ ]:
#load the data into sql server using append option
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')